
#intro {
  font-size: 100px;
}

h3 {
  font-size: 85px;
}

.location {
  margin-top: 12px;
}
.nav {
  float: right;
  margin-top: 2%;
  margin-bottom: 5%;
}

.nav a {
  font-size: 18px;
  margin-right: 30px;
}

.nav a:hover {
  border-bottom: 2px solid #1514f4;
}

.nav a, .container a, .info a {
  color: #1514f4;
}

.container {
  padding: 2px;
  height: 570px;
}

.container u, .info u, .nav a {
  text-decoration: none;
  border-bottom: 0.5px solid gray;
}

.container u:hover, .info u:hover {
  border-bottom: 2px solid #1514f4;
}

.intro-content {
  margin-left: 7%;

}

#git {
  width: 87px;
  height: 87px;
  position: absolute;
  left: 0;
  margin-left: 20px;
  padding: 0;
}

.projects img {
  height: 200px;
  width: 350px;
  border-radius: 5%;
}

.projects {
  background-color: #fafafa;

}

#logistics {
  height: 200px;
  width: 190px;
}

#bubble {
  margin-top: 50px;
  height: 100px;
}

.info {

  width: 70%;
}

.info h6 {
  font-size: 20px;
  line-height: 1.8;
}

.wahead {
  text-decoration: underline;
}
