<div class="main-nav">
        <a href="{{ "https://github.com/johncorderox" | relative_url  }}">Github</a> |
                <a href="{{ "/" | relative_url  }}">LinkedIn</a>  |
        <a href="{{ "https://www.spillthebean.org/dev-overview/john-cordero" | relative_url  }}">Spill the Beans</a> 
    </div>
 <br><br>
</p>
<p style="text-align: left">Nice to meet you! I wanted this website to be a hybrid of my programming work & social life. In my spare time I love playing video games, trying out new foods, working out, checking out a wine bar in Los Angeles, and day dreaming of owning a dog one day. Shoot me an E-mail if you like any of these.</p><br>
 <p style="text-align: left">Software Engineer <a href="https://infowerks.com/">@Infowerks</a>
<p style="text-align: left">Our flagship software, Viewmaster, was built in <span style="color: #cc0000;">Ruby on Rails</span> and I contribute code commits daily. We provide data retention and true turnkey solutions to the challenges of meeting requirements while also maintaining security and privacy.</p>
<!-- <p><a href="https://github.com/johncorderox">Github</a> | <a href="https://www.linkedin.com/in/johncorderox/">Linkedin</a> | <a href="https://www.instagram.com/johncorderox/">Instagram</a> | <a href="https://drive.google.com/file/d/1Yb8Y9qCfLiMjd79z_b_nWII83lj3KIRS/view?usp=sharing">Resume</a></p> -->

<!-- <pre><code>=&gt;
johncorderox@gmail.com
</code></pre>
<br> -->
<br>
<div>
	<img id="" style="width: 260px; height: 502px;" src="{{ "/" | relative_url  }}assets/images/iphone.png"/>
	<br><br>
<p>⭐⭐⭐⭐⭐</p>
</div>

