<header class="c-page__header">
	<img id="avatar" class="3x" src="{{ "/" | relative_url  }}assets/avatar.png"/>
  <h1><code>{{ site.title}}</code></h1>
  {% if page.title == 'Home' %}
<h1>Systems Engineer <a href="https://everfi.com/" target="_blank"><u>@Everfi</a></u></h1>
	<h2>Previously <a href="https://infowerks.com/" target="_blank"><u>@infowerks</a></u>,
		<a href="https://infowerks.com/" target="_blank"><u>@Evolution</a></u>,
		<a href="https://www.sunnybyte.com/" target="_blank"><u>@Sunnybyte</a></u>
	
	
	</h2>	
	
 <h1><code>
	Current Stack: <span style="color:#5F9731 ;">Ruby on Rails, Postgresql, Rspec, Capybara, Rails API 👨‍💻</span><br>

<br>
	 </p><br>
</code> </h1> 


<h1 style="font-size: 2.5rem;">✨</h1>
<p>Here are some other things I've built with Teams and Web Development agencies:</p>
<br>
<br>
<a href="https://www.archertravel.com/" target="_blank">
<img src="../assets/archer.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px; margin: 2px;" />
     </a>
     <a href="https://avitamedical.com/" target="_blank">
     <img src="../assets/virus.gif"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px; margin: 2px;" />
      </a>
     <a href="https://github.com/medicinal-ruby" target="_blank">
     <img src="../assets/pill.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px; margin: 2px;" />
      </a>
     <a href="https://afrezza.com/" target="_blank">
     <img src="../assets/afrezza.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px; margin: 2px;" />
      </a>
   <a href="https://github.com/johncorderox/Amy-Winehouse-API" target="_blank">  
<img src="../assets/signature.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px; margin: 2px;" />
      </a>
     <a href="https://github.com/EvolutionHQ" target="_blank">
     <img src="../assets/evo-logo.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px; margin: 2px;" />
      </a>
      </a>
     <a href="/projects" target="_blank">
     <img src="../assets/pill.gif"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px; margin: 2px;" />
      </a>
{% endif %}
</header>
<style>
	    p {
 font-weight: 400;
		    font-size: 15px;
		    font-family: Roboto;
    }

</style>
