<header class="c-page__header">
	<img id="avatar" class="3x" src="{{ "/" | relative_url  }}assets/avatar.png"/>
  <h1><code>{{ site.title}} BA, MS.</code> <a href="https://github.com/johncorderox" target="_blank"><i class="fa fa-github"></i></a></h1>
  {% if page.title == 'Home' %}
	<h1>Software Engineer <a href="https://infowerks.com/" target="_blank"><u>@infowerks</a></u></h1>
	<h2>Archive✨</h2>
	<a href="https://www.archertravel.com/" target="_blank">
<img src="../assets/archer.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px;" />
     </a>
   <a href="https://www.jonathanlouis.net/" target="_blank">  
<img src="../assets/logo.jpg"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px;" />
      </a>
     <a href="https://github.com/EvolutionHQ/evo-specials" target="_blank">
     <img src="../assets/specials.gif"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px;" />
      </a>
     <a href="https://avitamedical.com/" target="_blank">
     <img src="../assets/virus.gif"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px;" />
      </a>
     <a href="https://github.com/medicinal-ruby" target="_blank">
     <img src="../assets/pill.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px;" />
      </a>
     <a href="https://afrezza.com/" target="_blank">
     <img src="../assets/afrezza.png"
     alt="erd" style="height: 55px; width: 55px; border-radius: 10px;" />
      </a>

<br>
<br>
{% endif %}
</header>
