<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ "/" | relative_url  }}"> <span class="arrow">←</span> Home </a>
    {% endif %}
<!--         <a href="{{ "https://github.com/johncorderox" | relative_url  }}">Github</a>
        <a href="{{ "https://github.com/johncorderox" | relative_url  }}">Instagram</a>
        <a href="{{ "https://www.linkedin.com/in/johncorderox/" | relative_url  }}">LinkedIn</a>
        <a href="{{ "https://www.spillthebean.org/dev-overview/john-cordero" | relative_url  }}">Spill the Beans</a>
        <a href="{{ "https://github.com/johncorderox" | relative_url  }}">Work</a>
        <a class="cta" href="{{ "/" | relative_url  }}">Resume</a>
         -->
   <!--  <a class="cta" href="{{ "/" | relative_url  }}feed.xml">Subscribe</a> -->
</nav>
