<div class="photos">
  <a href="/2019/evolution/" class="p0 photo" rel="noopener">
    <img alt="evo" src="{{ '/assets/images/evo.png' | relative_url }}">
  </a>
  <a href="/2019/travel-cafe-admin/" class="p1 photo" rel="noopener">
    <img alt="cafe" src="{{ '/assets/images/cafe.png' | relative_url }}">
  </a>
  <a href="https://avitamedical.com" class="p2 photo"rel="noopener">
    <img alt="Avita" src="{{ '/assets/images/virus.gif' | relative_url }}">
  </a>
  <a href="https://github.com/johncorderox/evo-specials" class="p3 photo"rel="noopener">
    <img alt="specials" src="{{ '/assets/images/specials.gif' | relative_url }}">
  </a>

  <div class="caption c0">Evolution Travel US & AU - Ruby on Rails Software</div>
  <div class="caption c1">Evo Admin - Ruby on Rails Software</div>
  <div class="caption c2">Avita Medical - PHP Website</div>
  <div class="caption c3">Evo Specials - React JS Chrome Extension</div>
</div><br> <br>
