<div class="photos">
  <a href="https://www.instagram.com/p/BCI1dwchQX5/" class="p0 photo" target="_blank" rel="noopener">
    <img alt="Avita" src="{{ '/assets/images/evo.png' | relative_url }}">
  </a>
  <a href="https://www.instagram.com/p/BCI1dwchQX5/" class="p1 photo" target="_blank" rel="noopener">
    <img alt="Evolution" src="{{ '/assets/images/cafe.png' | relative_url }}">
  </a>
  <a href="https://avitamedical.com" class="p2 photo" target="_blank" rel="noopener">
    <img alt="Avita" src="{{ '/assets/images/virus.gif' | relative_url }}">
  </a>
  <div class="caption c0">Evolution Travel US & AU - Rails Software</div>
  <div class="caption c1">Evo Admin - Rails Software</div>
  <div class="caption c2">Avita Medical - PHP Website</div>
</div><br> <br>
