<div class="profile">
    <section id="wrapper">
        <header id="header">
          {% if page.url == "/about/" %}
          <style>
          .photos, header h2{
            display: none;
          }
          </style>
          {% endif %}
        {% if site.aboutPage %}
            <a href="{{ "/" | relative_url  }}about">
                <img id="avatar" class="3x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
            </a>
        {% else %}
            <img id="avatar" class="3x" src="{{ "/" | relative_url  }}assets/images/avatar.png"/>
        {% endif %}
              <h2>{{ site.description }}</h2><br><br>
<!--         {% include pics.html %} -->
        {% include about.html %}
                      
        </header>
    </section>
</div>
